@function rem($val){
	@return $val / 16 * 1rem;
}

@mixin text1{
	// font-family: $font2;
	font-size: rem(25);
	line-height: auto;
	letter-spacing: 0.1em;
}

@mixin text2{
	// font-family: $font3;
	font-size: rem(16);
	line-height: rem(27);
	letter-spacing: 0;
	color: var(--grey);
}

@mixin text3{
	// font-family: $font2;
	font-size: rem(16);
	line-height: 1.49;
	letter-spacing: 0.1em;
}

@mixin text4{
	font-size: rem(16);
	line-height: rem(27);
	letter-spacing: 0.03em;
}

@mixin text5{
	// font-family: $font1;
	font-size: rem(16);
	letter-spacing: 0.03em;
	line-height: rem(27);
}

@mixin text6{
	color: var(--grey);
	font-size: rem(13);
	line-height: 1.75;
	letter-spacing: 0.05em;
	// font-family: $font2;
}

@mixin reset-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin social-menu{
	@include reset-list;
	display: flex;
	align-items: center;
	gap: rem(25);
	a{	
		svg{
			height: rem(18);
			path{
				fill: var(--text-color);
				transition: fill 0.3s;
			}
		}
		&:hover{
			svg{
				path{
					fill: var(--main-color);
				}
			}
		}
	}
}

$text-color: #000;
$main-color: #050A3A;
$white: #FFF;
$grey: #555;
$lightgrey: #AAA;
$black: #000;

html{
	--text-color: #{$text-color};
	--main-color: #{$main-color};
	--grey: #{$grey};
	--light-grey: #{$lightgrey};
	--bg-color: #{$white};
	font-family: $font1;
}

body{
	background-color: var(--bg-color);
	color: var(--text-color);
	&.dark{
		--text-color: #{$white};
		--bg-color: #{$black};
	}
	margin: 0px;
	padding: 0px;
}

a, li{
	text-decoration: none;
	list-style: none;
}



.container{
	max-width: 1200px!important;
	margin: 0 auto!important;
	padding: 0px!important;
}


h1{
	font-weight: 600;
	font-size: rem(35);
	line-height: 60px;

	letter-spacing: 3px;
	color: $main-color;
	margin-top: 60px;
	margin-bottom: 20px;
	line-height: unset;
}

p{
	font-weight: 400;
	font-size: rem(18);
	line-height: 32px;
	color: #8A8A8A;
}

