@function rem($val){
	@return $val / 16 * 1rem;
}

@mixin text1{
	// font-family: $font2;
	font-size: rem(25);
	line-height: auto;
	letter-spacing: 0.1em;
}

@mixin text2{
	// font-family: $font3;
	font-size: rem(16);
	line-height: rem(27);
	letter-spacing: 0;
	color: var(--grey);
}

@mixin text3{
	// font-family: $font2;
	font-size: rem(16);
	line-height: 1.49;
	letter-spacing: 0.1em;
}

@mixin text4{
	font-size: rem(16);
	line-height: rem(27);
	letter-spacing: 0.03em;
}

@mixin text5{
	// font-family: $font1;
	font-size: rem(16);
	letter-spacing: 0.03em;
	line-height: rem(27);
}

@mixin text6{
	color: var(--grey);
	font-size: rem(13);
	line-height: 1.75;
	letter-spacing: 0.05em;
	// font-family: $font2;
}

@mixin reset-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin social-menu{
	@include reset-list;
	display: flex;
	align-items: center;
	gap: rem(25);
	a{	
		svg{
			height: rem(18);
			path{
				fill: var(--text-color);
				transition: fill 0.3s;
			}
		}
		&:hover{
			svg{
				path{
					fill: var(--main-color);
				}
			}
		}
	}
}

$text-color: #000;
$main-color: #3F51B5;
$white: #FFF;
$grey: #555;
$lightgrey: #AAA;
$black: #000;

html{
	--text-color: #{$text-color};
	--main-color: #{$main-color};
	--grey: #{$grey};
	--light-grey: #{$lightgrey};
	--bg-color: #{$white};
	// font-family: $font1;
}

body{
	background-color: var(--bg-color);
	color: var(--text-color);
	&.dark{
		--text-color: #{$white};
		--bg-color: #{$black};
	}
}



img{
	max-width: 100%;
}

figure{
	margin: 0;
}



.page-title, .post-title{
	text-align: center;
	margin-bottom: rem(34);
	@include text1;
}


.page-content, .post-content{
	@include text5;
	a{
		color: var(--main-color);
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.single-post{
	header{
		img{
			object-fit: cover;
			object-position: center;
			border-radius: 800px;
			width: rem(32);
			height: rem(32);
			margin-right: rem(10);
		}
		.post-meta{
			// font-family: $font2;
			font-size: rem(13);
			line-height: rem(21);
			letter-spacing: 0.05em;
			text-align: center;
			margin-bottom: rem(34);
			time{
				margin-left: rem(42);
			}
		}
	}
	.post-image{
		margin-bottom: rem(34);
		img{
			width: 100%;
			max-height: rem(300);
			object-fit: cover;
			object-position: center;
		}
	}
}

.social-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(32) 0;
	h1{
		@include text4;
	}
	ul{
		@include social-menu;
	}
}
