#site-header{
	padding: 2vh;

	.menu-cms_projet_menu-container >ul >li{
		text-decoration: none;
		list-style: none;
	}
	.dropbtn {
		padding: 16px;
		font-size: 16px;
		border: none;
	}
	
	.dropdown {
		position: relative;
	}
	
	.dropdown-content {
		display: none;
		background-color: #050A3A;
		color: rgb(38, 19, 19);
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 5;
	}
	
	.dropdown-content a {
		color: rgb(255, 255, 255);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}


	
	.dropdown:hover .dropdown-content {
		display: flex;
		transition: 1s;
	}
}
