.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-justify{
  text-align: justify;
}

.left-border{
  border-left: 4px solid;
  padding-left: -10px;
}