.footer{
	background-color:#050A3A ;
	height: 200px;
    bottom: 0%;
    width: 100%;
	color: rgb(255, 255, 255);
	padding:4vh;
}

.right-text{
	text-align: right;
}

.space-between{
	justify-content: space-between;

}

.centring-left{
    display: flex;
    justify-content: end;
}








